* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --link: #3A7BFD;
  --check-background: linear-gradient(135deg, #57DDFF, #C058F3);
  --bg-color: #FAFAFA;
  --todo-bg-color: #FFFFFF;
  --todo-border-color: #E4E5F1;
  --light-grayish-blue: #DDd3DB;
  --dark-grayish-blue: #9394A5;
  --very-dark-grayish-blue: #484B6A;
  /* dark mode */
  --very-dark-blue: #161722;
  --very-dark-desaturated-blue: #25273C;
  --light-grayish-blue: #CACDE8;
  --light-grayish-blue-hover: #E4E5F1;
  --dark-grayish-blue: #777A92;
  --very-dark-grayish-blue: #4D5066;
  --very-dark-grayish-blue: #393A4C;

  --font-family: "Josefin Sans", sans-serif;
  --text-md: 400 1.125rem/140% var(--font-family);
}

body {
  font: var(--text-md);
  background-color:var(--bg-color);
  color: var(--bg-color);
}

.bg-image {
  height: 20.25rem;
  background-image: url(../assets/images/bg-desktop-light.jpg);
  background-size: cover;
  position: absolute;
  inset: 0;
  z-index: -1;
}

header {
  display: flex;
  justify-content: space-between;

  h1 {
    letter-spacing: 1rem;
    font-size: 2.75rem;
  }
}

#app {
  width: 36rem;
  padding: .0625rem;
  margin: 5.5rem auto 3rem;
}