* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dark-mode:root {
  --bg-color: #161722;
  --todo-bg-color: #25273C;
  --todo-border-color: #393A4C;
  --font-color: #CACDE848;
  --todo-font-color: #cacde8ef;
}

html:root {
  --delay-modes: 500ms;
  --link: #3A7BFD;
  --check-background: linear-gradient(135deg, #57DDFF, #C058F3);
  --bg-color: #FAFAFA;
  --todo-bg-color: #FFFFFF;
  --todo-border-color: #E4E5F1;
  --font-color: #9394a5d6;
  --todo-font-color: #484B6A;
  
  --font-family: "Josefin Sans", sans-serif;
  --text-md: 400 1.125rem/140% var(--font-family);
}

body {
  font: var(--text-md);
  background-color:var(--bg-color);
  color: var(--font-color);
  transition: var(--delay-modes);
}

.bg-image {
  height: 20.25rem;
  background-image: url(../assets/images/bg-desktop-light.jpg);
  background-size: cover;
  position: absolute;
  inset: 0;
  z-index: -1;
  transition: var(--delay-modes);
}

header {
  display: flex;
  justify-content: space-between;
  
  h1 {
    letter-spacing: 1rem;
    font-size: 2.75rem;
    color: #FFFFFF;
  }

  img {
    transition: var(--delay-modes);
  }
}

#app {
  width: 36rem;
  padding: .0625rem;
  margin: 5.5rem auto 3rem;
}